.header
{
    width:90%;
    height:90px;
    background-color: cadetblue;
    border:none;
    border-top-left-radius: 0.2em;
    border-top-right-radius:0.2em;
    margin-left:4em;
    box-shadow: 10px 10px 10px 10px #2c2c2c;
    position: relative;
    text-align: center;
    padding-top:0.7em;
}
.header h2 
{
    color:#FFFFFF;
    background-color: cadetblue;
    box-shadow: 10px 10px 10px 10px #2c2c2c;
    padding:0.5em;
    border:0.2em;
    font-weight: bold;
    position:absolute;
    left:5%;
    top:1%;
 border-radius:0.2em;

}
.header p 
{
 font-weight: bolder;
 background-color: cadetblue;
 box-shadow: 10px 10px 10px 10px #2c2c2c;
 width:30em;
 font-size:1em;
 margin-bottom:em;
 margin-left:28em;
 border-radius:0.2em;

}